hantu-openapi:
  appkey: your-kis-app-key
  appsecret: your-kis-app-secret

naver-openapi:
  clientId: your-naver-client-id
  clientSecret: your-naver-client-secret

anthropic:
  apiKey: your-anthropic-api-key

spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: your-kakao-rest-api-key
            client-secret: your-kakao-client-secret
